[user]
  name = name
  email = email
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dfn = diff origin master --name-only
  lg = log -p
  who = shortlog -s --
  gui = !sh -c '/usr/local/opt/git/libexec/git-core/git-gui' 
  pullno = pull --no-edit
  tags = log -n1 --pretty=format:%h%d
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  ignorecase = false
[push]
  default = matching
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[pull]
  rebase = true
