[user]
  # name = <YOUR NAME>
  # email = <YOUR EMAIL>
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dfn = diff origin `git rev-parse --abbrev-ref HEAD` --name-only
  lg = log -p
  who = shortlog -s --
  gui = !sh -c '/usr/local/opt/git/libexec/git-core/git-gui' 
  pull = pull --no-edit
  merge = merge --no-edit
  tags = log -n1 --pretty=format:%h%d
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  ignorecase = false
  editor = subl
[push]
  default = matching
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[pull]
  rebase = true
  
